{%- assign p = include.post | default: page -%}

{%- if p.ev_date -%}
{%- assign manader = "januari,februari,mars,april,maj,juni,juli,augusti,september,oktober,november,december" | split: "," -%}
{%- assign m = p.ev_date | date: "%-m" | minus: 1 -%}
<h3 id="nar-och-var">När och var</h3>
<table>
  <tbody>
    <tr>
      <td>Datum</td>
      <td>{{ p.ev_date | date: "%-d" }} {{ manader[m] }}</td>
    </tr>
    <tr>
      <td>Tid</td>
      <td>kl {{ p.ev_date | date: "%-H" }}</td>
    </tr>
    <tr>
      <td>Plats</td>
      <td><a href="{{ p.ev_location.url }}">{{ p.ev_location.title }}</a></td>
    </tr>
  </tbody>
</table>
{%- endif -%}
