<footer class="sidfot" id="sidfot">
  <div class="omslutning">
    <ul>
      <li><strong>Följ:</strong></li>
      {%- for lank in site.footer.links %}
      {%- if lank.label and lank.url %}
      <li><a href="{{ lank.url }}" rel="nofollow noopener noreferrer"><i class="{{ lank.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ lank.label | escape_once | strip }}</a></li>
      {%- endif %}
      {%- endfor %}
      <li><a href="{{ '/feed.xml' | relative_url }}"><i class="fas fa-fw fa-square-rss" aria-hidden="true"></i> Flöde</a></li>
    </ul>
    <p class="sidfot__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
  </div>
</footer>
